// Nombre y datos relevantes
// Extracto personal
// Tecnologías aprendidas
// Proyectos con link (portfolio)
// Formulario de contacto

// Imports
@import "./_resets";

// Vars
$color-highlight: #f0a13a;
$color-primary: #209bed;
$color-secondary: #55abe4;
$color-background: #fff;
$text-dark: #2f2f35;
$text-light: #e7e7e7;
$transition-hover: 0.2s ease;
// Extends
%fontfamily-sans {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 1rem;
}
%fontfamily-mono {
	font-family: "Fira Code", monospace;
	font-weight: 500;
	font-size: 1rem;
}
// Element classes
a {
	transition: $transition-hover;
	color: $text-dark;
	@extend %fontfamily-mono;
	&:hover {
		transition: $transition-hover;
		color: $color-secondary;
	}
}
h1 {
	font-size: 3rem;
}
// Utility Classes
.flex {
	display: flex;
	flex-direction: row wrap;
	justify-content: center;
	align-items: center;
}
.highlight {
	color: $color-highlight;
}
.container {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
}
.btn {
	background: $color-primary;
	color: $text-light;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	text-decoration: none;
	border-radius: 20rem;
	&:hover {
		background-color: $color-secondary;
		color: $text-light;
	}
}
// Section specific styling
body {
	@extend %fontfamily-sans;
	overflow-x: hidden;
}
nav {
	background-color: $color-background;
	position: sticky;
	z-index: 3;
	top: 0;
}
.nav {
	width: 100%;
	flex-flow: row nowrap;
	justify-content: space-between;
	@extend %fontfamily-mono;
	img {
		width: 2rem;
	}
	.nav-links {
		flex-flow: row nowrap;
		li {
			padding-left: 2rem;
		}
	}
	.nav-item {
		margin: 1rem;
		&:first-child {
			margin-right: 0rem;
		}
		&:last-child {
			margin-left: 0rem;
		}
	}
}

.v-header {
	position: static;
	height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
	.video-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		min-width: 100%;
		min-height: 100%;
	}
	.header-overlay {
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		background: #225470;
		z-index: 1;
		opacity: 0.75;
	}
	.header-content {
		position: relative;
		z-index: 2;
		h1 {
			margin-bottom: 3rem;
		}
	}
}

// Media Queries
@media screen and (min-width: 1140px) {
	.nav {
		max-width: 1100px;
		margin: auto;
		.nav-item {
			margin: 1rem 0rem;
			&:first-child {
				margin-right: 0rem;
			}
			&:last-child {
				margin-left: 0rem;
			}
		}
	}
}
