* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

h1, h2, p, body {
  font-family: "Be Vietnam", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a, .nav, .contact-form input,
.contact-form textarea, .contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder, .contact-form button {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 1rem;
}

a, .nav, .contact-form input,
.contact-form textarea, .contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder, .contact-form button {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 1rem;
}

a, .nav, .contact-form input,
.contact-form textarea, .contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder, .contact-form button {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 1rem;
}

a, .nav, .contact-form input,
.contact-form textarea, .contact-form input::placeholder,
.contact-form textarea::placeholder, .contact-form button {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 1rem;
}

a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #2f2f35;
}

a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #4384fe;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
}

img {
  width: 100%;
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.highlight {
  color: #4384fe;
}

.container {
  max-width: 1170px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

.btn {
  border: 2px solid #4384fe;
  background: transparent;
  color: #4384fe;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 20rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #4384fe;
  color: #ffffff;
}

.btn-sm {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.text-dark {
  color: #2f2f35;
}

.text-light {
  color: #ffffff;
}

.text-centered {
  text-align: center;
}

.color-bg {
  background-color: #4384fe;
}

.shadow-md, .contact-container .contact:hover {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.waves-bottom {
  position: absolute;
  width: 100%;
  fill: #4384fe;
  bottom: 1%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.waves-bottom svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.acerca,
.header,
footer {
  padding: 10rem 0 10rem 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  top: 0;
}

.nav {
  margin-top: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav img {
  width: 2rem;
}

.nav .nav-links {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.nav .nav-links li {
  padding-left: 4rem;
}

.nav .nav-item {
  margin: 1rem;
}

.nav .nav-item:first-child {
  margin-right: 0rem;
}

.nav .nav-item:last-child {
  margin-left: 0rem;
}

.header {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header img {
  max-width: 250px;
  border-radius: 50%;
}

.header p {
  margin-bottom: 2rem;
}

.acerca {
  margin-top: -18rem;
  padding-bottom: 17.5rem;
  position: relative;
  z-index: -1;
}

.acerca p {
  max-width: 715px;
  margin: auto;
}

.col-container {
  width: 100%;
  position: relative;
  margin-top: -12rem;
  margin-bottom: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e5edff;
  border-radius: 0.5rem;
  background-color: #fff;
}

.col-container .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 3rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-bottom: 1px solid #e5edff;
}

.col-container .column:last-child {
  border-bottom: none;
}

.col-container .column svg {
  color: #4384fe;
  margin-bottom: 2rem;
}

.col-container .column p {
  margin-bottom: 1rem;
}

.col-container .column h3 {
  margin-bottom: 0.5rem;
}

.col-container .column li {
  margin-bottom: 0.5rem;
}

.portfolio {
  margin-bottom: 4rem;
}

.portfolio p {
  margin-bottom: 2rem;
}

.pofo-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.pofo-item {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.pofo-item .overlay {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  background-color: #293347;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.pofo-item .pofo-info-container {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
}

.pofo-item:hover .overlay {
  opacity: 1;
}

.pofo-item:hover .pofo-info-container {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.contacto {
  margin-bottom: 4rem;
}

.contacto h2 {
  margin-bottom: 2rem;
}

.contact-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.contact-container .contact {
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-container .contact:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 1.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #2f2f35;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #2f2f35;
}

.contact-form input:empty, .contact-form input:valid,
.contact-form textarea:empty,
.contact-form textarea:valid {
  border: 1px solid #55abe4;
}

.contact-form input:active, .contact-form input:focus,
.contact-form textarea:active,
.contact-form textarea:focus {
  -webkit-box-shadow: 0 0 3px 0 #55abe4;
          box-shadow: 0 0 3px 0 #55abe4;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
}

.contact-form textarea {
  margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
  .header img {
    max-width: 300px;
  }
  .acerca {
    padding-top: 13rem;
    margin-top: -19rem;
  }
  .pofo-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .pofo-container .pofo-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  .contact-container {
    max-width: 578px;
    margin: auto;
    margin-bottom: 4rem;
  }
  .contact-container .contact {
    font-size: 1.5rem;
    padding: 0.75rem;
  }
  .contact-form input,
  .contact-form textarea {
    max-width: 578px;
  }
}

@media screen and (min-width: 768px) {
  .header img {
    max-width: 350px;
  }
  .col-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .col-container .column {
    padding: 3rem 1.5rem;
    border-bottom: none;
    border-right: 1px solid #e5edff;
  }
  .col-container .column:last-child {
    border-right: none;
  }
  .acerca {
    padding-top: 15rem;
    margin-top: -20.5rem;
  }
  .contact-container .contact {
    font-size: 2rem;
    padding: 1rem;
  }
  .pofo-container .pofo-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    max-width: 32%;
  }
}

@media screen and (min-width: 992px) {
  .header img {
    max-width: 350px;
  }
  .col-container .column {
    padding: 3rem;
  }
  .acerca {
    padding-top: 16rem;
    margin-top: -21rem;
  }
  .contact-container {
    max-width: 578px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    max-width: 1100px;
    margin: auto;
    margin-top: 1rem;
  }
  .nav .nav-item {
    margin: 1rem 0rem;
  }
  .nav .nav-item:first-child {
    margin-right: 0rem;
  }
  .nav .nav-item:last-child {
    margin-left: 0rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .header p {
    margin-bottom: 4rem;
  }
  .header img {
    max-width: 400px;
  }
  .acerca {
    padding-top: 17rem;
    margin-top: -22rem;
  }
}
/*# sourceMappingURL=style.css.map */